#
# SPDX-FileCopyrightText: 2023 The HedgeDoc developers (see AUTHORS file)
#
# SPDX-License-Identifier: AGPL-3.0-only
#


:80 {
	log {
		output stdout
		level WARN
		format console
	}

	reverse_proxy /realtime http://backend:3000
	reverse_proxy /.well-known/oauth-protected-resource http://mcp:3002
	reverse_proxy /.well-known/oauth-authorization-server http://backend:3000
	reverse_proxy /mcp* http://mcp:3002
	reverse_proxy /api/* http://backend:3000
	reverse_proxy /public/* http://backend:3000
	reverse_proxy /uploads/* http://backend:3000
	reverse_proxy /apidoc/* http://backend:3000
	reverse_proxy /* http://frontend:3001
}